.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.playerid {
    color: #cb356b;
    font-weight: 600;
}

video {
    width: 100%;
}

.btn-primary {
    margin-left: 15px;
    font-family: Open Sans, sans-serif;
    padding: 7px 35px;
    border-radius: 20px;
    background: linear-gradient(to right, #cb356b, #bd3f32);
    color: white;
}

.login {
    font-family: Open Sans, sans-serif !important;
    font-size: 24px;
    font-weight: normal;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.background {
    background-color: #333;
}

html {
    background-color: #333;
}

.table-striple {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none !important;
    }
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-top: 15px;
}

.btn {
    /*color: white;*/
    background-color: white;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.fa-microphone {
    margin-top: 7px;
    font-size: 25px;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger-show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 111;
    opacity: 0.92;
}

@media screen and (max-width: 768px) {
    .mob {
        display: none;
    }
}

.cross {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}